extends ../../layout

block content
    h1= `${creator.profile.name}'s Post`
    p.lead= content.title
    hr
    if errorMsg
        p.text-center.word-wrap Error connecting to creator's lightning node
    else if authorized
        h3.text-center.word-wrap= content.content
    else
        h4.text-center You have not paid or subscribed to this user to view this post! 😡
        h4.text-center Pay the invoice below or&nbsp
            a(href=`/creator/${creator._id}/subscribe`) click here&nbsp
            | to subscribe to this creator.
        p.text-center.word-wrap= invoice.payment_request

        hr
        p.text-center.word-wrap
            | After paying the invoice, paste your preimage below
        // invoice form
        form(action=`/creator/${creator._id}/post/postCheck`, method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.row
                label(class='col-md-2 col-form-label font-weight-bold', for='macaroon') Macaroon
                .col-md-8
                    input.form-control(type='text', name='macaroon', id='macaroon', value=macaroon, readonly)
            .form-group.row
                label(class='col-md-2 col-form-label font-weight-bold', for='preimage') Preimage
                .col-md-8
                    textarea.form-control(name='preimage', id='preimage', rows='1', required)
            .form-group
                .offset-md-2.col-md-8.p-1
                    button.btn.btn-primary(type='submit')
                        | Post
